<Container>
    <h3>ComicPage</h3>

    <Image Source="favicon.png" Text="Image Test Text"></Image>

    <Paragraph>Caption</Paragraph>

    <Container>
        <Button>Previous</Button>
        <Button>Next</Button>
    </Container>
</Container>


@code {

}
